$primary: #007bff;

.container {
  width: 100%;
  height: 2px;
  background: rgba($color: #000, $alpha: 85%);
  top: 0;
  left: 0;
  position: absolute;
}

.progress_bar {
  display: block;
  transition: 0.25s width ease-in-out;
  width: var(--rc-images-width);
  background-color: $primary;
  height: 100%;
}
