.container {
  position: relative;
  overflow-y: auto;

  & > * {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }

  img {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    transition: clip-path 0.75s ease-in-out;
  }

  &:not(.no_gutter) {
    img {
      border-radius: 8px;
    }
  }
}
