@use "../../common/styles.module.scss";

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.95);
  height: 60px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.control {
  margin: 0 0.5rem;
}

.control_button {
  border: 0;
  background: #ccc;
  @extend .center;

  &.rounded {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  &:not(.rounded) {
    border-radius: 4px;
    height: 2rem;
  }

  &.active {
    background: blue;
    color: white;
  }
}

.controls_wrapper {
  position: absolute;
  // bottom: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &.hide {
    visibility: hidden;
  }
}
