@use "../../common/styles.module.scss";

$primary: #007fff;

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  border-radius: 4px;
  background: rgb(255 255 255 / 95%);
  height: 60px;
  box-shadow: 0 0 20px 5px rgb(0 0 0 / 50%);
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.control {
  margin: 0 0.5rem;
}

.control_button {
  border: 0;
  background: #eee;
  @extend %center;

  color: $primary;
  transition: color 0.25s ease, background 0.25s ease;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 20%), inset 0 0 6px 1px rgb(0 0 0 / 3%);

  &:hover {
    background: $primary;
    color: white;
    cursor: pointer;
    box-shadow: none;
  }

  &.rounded {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  &:not(.rounded) {
    border-radius: 4px;
    height: 2rem;
  }

  &.active {
    background: $primary;
    color: white;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.controls_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgb(0 0 0 / 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
  visibility: visible;

  &.hide {
    visibility: hidden;
    opacity: 0;
  }
}
