@use "../../common/styles.module.scss";

.wrapper {
  position: relative;
  display: flex;
  transition: width 0.5s ease-in, height 0.5s ease-in;

  &.horizontal {
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: column;
  }

  &.vertical {
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
  }
}

.gallery {
  display: grid;
  padding: 0;
  margin: 0;
  justify-content: center;
  position: absolute;

  &.vertical {
    left: 50%;
    transform: translateX(-50%);
  }

  &.horizontal {
    top: 50%;
    transform: translateY(-50%);
  }
}

.gallery_item {
  @extend .center;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 2px;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  overflow: hidden;
  position: relative;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
