@use "../../common/styles.module.scss";

$ease-in-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$bg-color: var(--rc-v-grid-bg-color);
$thumbnail-bg-color: var(--rc-v-grid-thumbnail-bg-color);

.wrapper {
  position: relative;
  display: flex;
  transition: width 0.5s #{$ease-in-circ}, height 0.5s #{$ease-in-circ};
  background: $bg-color;

  &.horizontal {
    flex-direction: column;
    overflow-y: hidden;
  }

  &.vertical {
    flex-direction: row;
    overflow-x: hidden;
  }
}

.gallery {
  display: grid;
  padding: 0;
  margin: 0;
  justify-content: center;
  position: absolute;
  background: $bg-color;

  &.hide {
    visibility: hidden;
  }

  &.vertical {
    left: 50%;
    transform: translateX(-50%);
  }

  &.horizontal {
    top: 20px;
  }
}

.gallery_item {
  @extend %center;

  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: $thumbnail-bg-color;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba($bg-color, 100%);
  z-index: 10000;

  &.hide {
    background: rgba($bg-color, 100%);
    transition: background 0.5s ease-in;
    z-index: -1;
  }

  &.show {
    background: rgba($bg-color, 99%);
  }
}
